node_modules
ml/data
fastapi/data
fastapi/data_augmented
fastapi/data_mesh
fastapi/data_mesh_augmented

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
android

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
